<!DOCTYPE html>
<html>
	<head>	
		<title>controller</title>
		<meta charset="UTF-8"/>
		<script src="controller.js"></script>
	</head>	
	<body>	
		<center><a id="testMessage" ></a></center></br>
		<center><input id="textField" value="" placeholder="text message"/><button id="sendButton">send</button></center></br>
		<center><button id="recordButton">record</button></br><center>
		<center><canvas id="canvasField"></canvas>	</br><center>
		<center><button id="cancasButton">send canvas text</button>	</br><center>
		<center><button id="fileButton">send file</button>	</br><center>
	</body>

</html>
<style>
	button{
    width: 90%;
    min-height: 50px;
    max-width: 1000px;
    background-color: transparent;
    border-color:darkmagenta;
    color:crimson;
    font-size: 20px;
	margin-bottom: 5%; 
}
input{
    width: 70%;
    min-height: 50px;
    max-width: 1000px;
    background-color: transparent;
    border-color:darkmagenta;
    color:crimson;
    font-size: 20px;
    text-align: center;
}
canvas{
	width: 90%;
	background-color: lightgrey;
}
#sendButton{
	width: 15%;
	margin-left: 5%;
}
</style>