<!DOCTYPE html>
<html>
	<head>	
		<title>main</title>
		<meta charset="UTF-8"/>`
	</head>	
	<body>	
		
			<center><h1 id="title1">Welcome!</h1></center>
            <center><h1 class="text" id="title2">Please, choose your device type:</h1></center></br>
		
			<center><button id="hostButon">host</button></center></br>
            <center><input id="code" value="" placeholder="code" hidden="true"/></center></br>
            <center><button id="controllerButton">controller</button></center></br>
            <center><button id="sendButton" hidden="true">send</button></center>

		<script src="index.js"></script>
	</body>
</html>
<style>
h1{
    color: palevioletred;
}
.text{
    color:mediumorchid;
}
button{
    width: 90%;
    min-height: 50px;
    max-width: 500px;
    background-color: transparent;
    border-color:darkmagenta;
    color:crimson;
    font-size: 20px;
}
input{
    width: 90%;
    min-height: 50px;
    max-width: 500px;
    background-color: transparent;
    border-color:darkmagenta;
    color:crimson;
    font-size: 20px;
    text-align: center;
}
</style>